@model GetStudentDetail
@{
    Layout = "_LayoutEdustage";
    var studentId = ViewBag.id;
}
<header class="header_area">
    <div class="main_menu">
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between" action="">
                    <input type="text"
                           class="form-control"
                           id="search_input"
                           placeholder="Search Here" />
                    <button type="submit" class="btn"></button>
                    <span class="ti-close"
                          id="close_search"
                          title="Close Search"></span>
                </form>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h"asp-controller="Edustage" asp-action="Index" asp-route-id="@studentId">
                    <img src="~/img1/logo.png" alt="" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset"
                     id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                       @* <li class="nav-item active">
                            <a class="nav-link" asp-controller="Edustage" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Edustage" asp-action="About">About</a>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Resources</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Edustage" asp-action="Lecture">Lecture material</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Edustage" asp-action="Exam">Exam - Answer</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Edustage" asp-action="Library">Library</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#"
                               class="nav-link dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Notification &amp; News</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Edustage" asp-action="Notification">Notification</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Edustage" asp-action="News">News</a>
                                </li>
                            </ul>
                        </li>*@
                        <li class="nav-item">
                            <a asp-controller="Edustage" asp-action="ShowResult" asp-route-id="@studentId"  class="nav-link"><i class="icon-copy fa fa-user-o" aria-hidden="true"></i>ContactBook</a>
                        </li>
                        @if (Model != null)
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link"><i class="icon-copy fa fa-user-o" aria-hidden="true"></i> @Model.FirstName @Model.LastName</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Login" class="nav-link"><i class="icon-copy fa fa-user-o" aria-hidden="true"></i>Login</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner_content text-center">
                        <p class="text-uppercase">
                            Best online education service In the world
                        </p>
                        <h2 class="text-uppercase mt-4 mb-5">
                            One Step Ahead This Season
                        </h2>
                        <div>
                            <a asp-controller="Edustage" asp-action="ShowResult" asp-route-id="@studentId" class="primary-btn ml-sm-3 ml-0">ContactBook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Home Banner Area =================-->
<!--================ Start Feature Area =================-->
<section class="feature_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Collaborate with EDUSTAGE</h2>
                    <p>
                        Replenish man have thing gathering lights yielding shall you
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="icon">
                        <span class="flaticon-student"></span>
                    </div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2">Developing future ready employees</h4>
                        <p>
                            We give you access to work-ready future talent who have confidence to approach employment with enthusiasm
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="icon"><span class="flaticon-book"></span></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2">Promote your business</h4>
                        <p>
                            Promote your business or organisation to our students by getting involved through a wide range of events
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="icon"><span class="flaticon-earth"></span></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2">Collaborate with a global university</h4>
                        <p>
                            We give you access to work-ready future talent who have confidence to approach employment with enthusiasm
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Feature Area =================-->
<!--================ Start Popular Courses Area =================-->
<div class="popular_courses">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">Lecture - Exam - Library</h2>
                    <p>
                        Replenish man have thing gathering lights yielding shall you
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-12">
                <div class="owl-carousel active_course">
                    <div class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" src="~/img1/courses/c1.jpg" alt="" />
                        </div>
                        <div class="course_content">
                            <span class="tag mb-4 d-inline-block">Lecture</span>
                            <h4 class="mb-3">
                                <a href="#">Custom Product Design</a>
                            </h4>
                            <p>
                                One make creepeth man bearing their one firmament won't fowl
                                meat over sea
                            </p>
                            <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                                <a asp-controller="Edustage" asp-action="Lecture" class="blog_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" src="~/img1/courses/c2.jpg" alt="" />
                        </div>
                        <div class="course_content">
                            <span class="tag mb-4 d-inline-block">Exam - Answer</span>
                            <h4 class="mb-3">
                                <a href="#">Social Media Network</a>
                            </h4>
                            <p>
                                One make creepeth man bearing their one firmament won't fowl
                                meat over sea
                            </p>
                            <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                                <a asp-controller="Edustage" asp-action="Lecture" class="blog_btn">View More</a>
                            </div>
                        </div>
                    </div>

                    <div class="single_course">
                        <div class="course_head">
                            <img class="img-fluid" src="~/img1/courses/c3.jpg" alt="" />
                        </div>
                        <div class="course_content">
                            <span class="tag mb-4 d-inline-block">Library</span>
                            <h4 class="mb-3">
                                <a href="#">Computer Engineering</a>
                            </h4>
                            <p>
                                One make creepeth man bearing their one firmament won't fowl
                                meat over sea
                            </p>
                            <div class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4">
                                <a asp-controller="Edustage" asp-action="Library" class="blog_btn">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ End Popular Courses Area =================-->
<div class="section_gap registration_area">
    <div class="container">
        <div class="row align-items-center">
            <div>
                <div class="row clock_sec clockdiv" id="clockdiv">
                    <h1 class="mb-3">What would you like to study?</h1>
                    <div class="col-lg-12">
                    </div>
                    <div class="register_form">
                        <h3>Courses for Free</h3>
                        <p>It is high time for learning</p>
                        <div class="row">
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/design.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Architecture</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/hotel.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Building</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/interior-design.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Design</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/needle.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Fashion</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/marketing.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Information technology</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/photo.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Art</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/profits.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Business</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/class.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Education</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/balance-scale.png" style="width:40px;height:40px" /><hr />
                                <h5>Law</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/chemistry.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Science</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/automation.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Engineering</h5>
                            </div>
                            <div class="col-md-2">
                                <img src="~/img1/flaticon/doctor.jpg" style="width:40px;height:40px" /><hr />
                                <h5>Health science</h5>
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        
        </div>
    </div>
</div>
<!--================ End Registration Area =================-->
<section class="trainer_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="main_title">
                    <h2 class="mb-3">News &amp; Update</h2>
                    <p>
                        Explore your options and apply today – you’ve got nothing to lose, and everything to gain.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="~/img1/tintuc1.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>Qualified Teachers</h4>
                    <p class="designation">Sr. web designer</p>
                    <div class="mb-4">
                        <p>
                            If you are looking at blank cassettes on the web, you may be
                            very confused at the.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="~/img1/tintuc2.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>Environment</h4>
                    <p class="designation">Sr. web designer</p>
                    <div class="mb-4">
                        <p>
                            If you are looking at blank cassettes on the web, you may be
                            very confused at the.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="~/img1/tintuc5.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>IELTS preparation</h4>
                    <p class="designation">Sr. Faculty Data Science</p>
                    <div class="mb-4">
                        <p>
                            If you are looking at blank cassettes on the web, you may be
                            very confused at the.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 single-trainer">
                <div class="thumb d-flex justify-content-sm-center">
                    <img class="img-fluid" src="~/img1/tintuc4.jpg" alt="" />
                </div>
                <div class="meta-text text-sm-center">
                    <h4>Teaching method</h4>
                    <p class="designation">Sr. web designer</p>
                    <div class="mb-4">
                        <p>
                            If you are looking at blank cassettes on the web, you may be
                            very confused at the.
                        </p>
                    </div>
                    <div class="align-items-center justify-content-center d-flex">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Top Products</h4>
                <ul>
                    <li><a href="#">Managed Website</a></li>
                    <li><a href="#">Manage Reputation</a></li>
                    <li><a href="#">Power Tools</a></li>
                    <li><a href="#">Marketing Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Brand Assets</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Features</h4>
                <ul>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Brand Assets</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 single-footer-widget">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Guides</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Experts</a></li>
                    <li><a href="#">Agencies</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 single-footer-widget">
                <h4>Newsletter</h4>
                <p>You can trust us. we only send promo offers,</p>
                <div class="form-wrap" id="mc_embed_signup">
                    <form target="_blank"
                          action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                          method="get"
                          class="form-inline">
                        <input class="form-control"
                               name="EMAIL"
                               placeholder="Your Email Address"
                               onfocus="this.placeholder = ''"
                               onblur="this.placeholder = 'Your Email Address'"
                               required=""
                               type="email" />
                        <button class="click-btn btn btn-default">
                            <span>subscribe</span>
                        </button>
                        <div style="position: absolute; left: -5000px;">
                            <input name="b_36c4fd991d266f23781ded980_aefe40901a"
                                   tabindex="-1"
                                   value=""
                                   type="text" />
                        </div>

                        <div class="info"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
