@model List<GetSubjectAll>
@{
    ViewData["Title"] = "Teacher Page";
    Layout = "_Layout Table";
    var teacherAll = ViewBag.teacherAll as List<TeacherView>;
}
<div class="main-container">
    <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
        <div class="pd-20 card-box">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 float-right">
                    <a asp-controller="Teacher" asp-action="Index">
                        <h5 class="h4 text-blue mb-20">
                            Teacher List
                        </h5>
                    </a>
                </div>
                <div class="col-12 mb-3">
                    <a href="javascript:void(0);" onclick="teacher.openAddEditTeacher()" class="dropdown-item btn btn-success">
                        <i class="dw dw-edit2"></i>Add Teacher
                    </a>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-3 col-sm-3">
                    <ul class="nav flex-column vtabs nav-tabs customtab">
                        @foreach (var subject in Model)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-blue"
                                   asp-controller="Teacher" asp-action="Cards" asp-route-id="@subject.SubjectId">@subject.SubjectName</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-9 col-sm-9" id="cards">
                    <table class="data-table table stripe hover nowrap" id="tbTeacher">
                        <thead>
                            <tr>
                                <th class="table-plus datatable-nosort">Id</th>
                                <th>Full Name</th>
                                <th>Address</th>
                                <th>Subject</th>
                                <th>Position</th>
                                <th>Phone</th>
                                <th class="datatable-nosort">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var teacher in teacherAll)
                            {
                                <tr>
                                    <td class="table-plus">@teacher.TeacherId</td>
                                    <td>@teacher.TeacherName</td>
                                    <td>@teacher.DayOfBirth</td>
                                    <td>@teacher.Phone</td>
                                    <td>@teacher.DayToWork</td>
                                    <td>
                                        <div class="dropdown">
                                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                <i class="dw dw-more"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                <a class="dropdown-item" href="#"><i class="dw dw-eye"></i> View</a>
                                                <a class="dropdown-item" href="javascript:;" onclick="teacher.get(@teacher.TeacherId)"><i class="dw dw-edit2"></i> Edit</a>
                                                <a class="dropdown-item" href="#"><i class="dw dw-delete-3"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                             
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addEditTeacher" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <form id="fromAddEditTeacher">
            @*Modal content*@
            <input hidden id="TeacherId" name="TeacherId" value="0">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Teacher</h4>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>FullName :</label>
                                <input type="text" class="form-control" id="TeacherName" name="FullName">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date of Birth :</label>
                                <input class="form-control" type="date" placeholder="Select Date" id="DayOfBirth" name="DoB">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Place of birth :</label>
                                <input type="text" class="form-control" id="PlaceOfBirth" name="PoB">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender :</label>
                                <select class="custom-select form-control" id="Gender" name="Gender">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone Number :</label>
                                <input type="text" class="form-control" id="Phone" name="Phone">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address :</label>
                                <input type="text" class="form-control" id="Address" name="Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Subject :</label>
                                <select class="custom-select form-control" id="SubjectId" name="SubjectId">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Degree :</label>
                                <select class="custom-select form-control" id="DegreeId" name="DegreeId">
                                    <option value="">Select Degree</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>DayToWork :</label>
                                <input class="form-control" type="date" placeholder="Select Date" id="DayToWork" name="DtW">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Avatar</label>
                                <input type="text" class="form-control" id="AvatarPath" name="AvatarPath">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="teacher.save()">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{


    <script src="~/js/teacher.js" asp-append-version="true"></script>
}

<!-- The Modal -->
